# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bassan_db

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bassan_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_key_change_me
