openapi: 3.0.3
info:
  title: Bassan.os Enterprise API
  description: |
    Complete API specification for Bassan.os Enterprise Edition.

    ## Authentication
    All endpoints require Bearer token authentication (OAuth 2.0).

    ## Multi-Tenancy
    Organization context is derived from the JWT token.

    ## Versioning
    API version is specified in the URL path: `/v1/`
  version: 2.2.0
  contact:
    name: Bassan.os API Team
    email: api@bassan.os
  license:
    name: Proprietary
    url: https://bassan.os/license

servers:
  - url: https://api.bassan.os/v1
    description: Production
  - url: https://api.staging.bassan.os/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User management
  - name: Leads
    description: Lead management (Sales)
  - name: Tasks
    description: Task management (Operations)
  - name: Workflows
    description: Workflow engine

security:
  - bearerAuth: []

paths:
  # ============================================================
  # AUTHENTICATION
  # ============================================================
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      operationId: logout
      responses:
        "204":
          description: Logout successful

  # ============================================================
  # USERS
  # ============================================================
  /users:
    get:
      tags: [Users]
      summary: List users
      operationId: listUsers
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/SortParam"
      responses:
        "200":
          description: User list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
    post:
      tags: [Users]
      summary: Create user
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /users/{id}:
    get:
      tags: [Users]
      summary: Get user by ID
      operationId: getUser
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Users]
      summary: Update user
      operationId: updateUser
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: User updated
    delete:
      tags: [Users]
      summary: Delete user
      operationId: deleteUser
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: User deleted

  # ============================================================
  # LEADS
  # ============================================================
  /leads:
    get:
      tags: [Leads]
      summary: List leads
      operationId: listLeads
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [new, contacted, qualified, unqualified]
      responses:
        "200":
          description: Lead list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadListResponse"
    post:
      tags: [Leads]
      summary: Create lead
      operationId: createLead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLeadRequest"
      responses:
        "201":
          description: Lead created

  /leads/{id}:
    get:
      tags: [Leads]
      summary: Get lead by ID
      operationId: getLead
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Lead details
    patch:
      tags: [Leads]
      summary: Update lead
      operationId: updateLead
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Lead updated
    delete:
      tags: [Leads]
      summary: Delete lead
      operationId: deleteLead
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Lead deleted

  /leads/{id}/score:
    post:
      tags: [Leads]
      summary: Calculate lead score
      operationId: scoreLead
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Lead scored (triggers lead.scored webhook)

  /leads/{id}/convert:
    post:
      tags: [Leads]
      summary: Convert lead to opportunity
      operationId: convertLead
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Lead converted

  # ============================================================
  # TASKS
  # ============================================================
  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      operationId: listTasks
      responses:
        "200":
          description: Task list
    post:
      tags: [Tasks]
      summary: Create task
      operationId: createTask
      responses:
        "201":
          description: Task created

  /tasks/{id}:
    get:
      tags: [Tasks]
      summary: Get task by ID
      operationId: getTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task details
    patch:
      tags: [Tasks]
      summary: Update task
      operationId: updateTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task updated
    delete:
      tags: [Tasks]
      summary: Delete task
      operationId: deleteTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Task deleted

  /tasks/{id}/complete:
    post:
      tags: [Tasks]
      summary: Mark task as complete
      operationId: completeTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task completed

  /tasks/bulk-assign:
    post:
      tags: [Tasks]
      summary: Bulk assign tasks to users
      operationId: bulkAssignTasks
      description: Assign multiple tasks to one or more users in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taskIds, assigneeId]
              properties:
                taskIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                assigneeId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Tasks assigned

  # ============================================================
  # HEALTH CHECK
  # ============================================================
  /health:
    get:
      tags: [System]
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        "200":
          description: Service healthy

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
    SortParam:
      name: sort
      in: query
      schema:
        type: string

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
        user:
          $ref: "#/components/schemas/User"

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
        isActive:
          type: boolean

    CreateUserRequest:
      type: object
      required: [email, firstName, lastName, roleId]
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        roleId:
          type: string
          format: uuid

    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        isActive:
          type: boolean

    UserResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/User"

    UserListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/User"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Lead:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        email:
          type: string
        status:
          type: string
          enum: [new, contacted, qualified, unqualified]
        score:
          type: integer
        source:
          type: string

    CreateLeadRequest:
      type: object
      required: [firstName, lastName, email]
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        source:
          type: string

    LeadListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Lead"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
